html {
	background-color: rgb(138, 150, 33);
}
.row{
    background-color: rgb(138, 150, 33);
}
.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}
.results {
	
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;

}
.movie-card {
	margin-bottom: 30px;
}